*{box-sizing: border-box;
	font-family: 'Doppio One', sans-serif;
}

body {font-size: 16px;
	background-color: #FFF0F5;
	}
/** header**/
#header-nav {
	background-color: #FFE4E1;
	border-radius: 0;
	border: 0; }

/**restaurant name**/
.navbar-brand {
	padding-top: 25px; 
}

.navbar-brand h1 {
	font-family: 'Doppio One', sans-serif;
	color: #87CEEB;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}


/**drop down menu**/
#nav-list {
	margin-top:10px;
	font-size: 20px;
	background-color: #FFE4E1;
}


#nav-list a {
	color: #87CEEB;
	text-align: center;
	}

#nav-list a:hover {
	background: #FFFFF0;
}

#nav-list a span {
	font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


#box {
	background-color: #FAF0E6;
	padding: 20px;
}

.products {text-align: center;}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}
